 html {
	box-sizing: border-box;
}

body {
	padding: none;
	margin: none;
	background-color: rgb(255, 165, 0);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1 {
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	font-size: 3em;
	color: #162955;
	border-bottom: 2px solid white;
	border-top: 2px solid white;
	justify-content: center;
}

textarea {
	/* border: 1px solid black; */
	border: none;
	width: 100%;
	height: 5em;
	resize: none;
	/* background-color: rgba(79, 97, 143, 0.3); */
	background-color: white;
	font-size: 1.5em;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
	padding-left: 1em;
}

textarea:hover {
	border: 1px solid;
	border-color: #C0C0C0;
}

textarea:focus {
  border-color: #4D90FE;
}

.outputrow {
	font-family: 'Roboto Mono', monospace;
	font-weight: 100;
	font-size: 100%;
	width: 100%;
	justify-content: space-around;
	display: flex;
}

.chars {
	padding: 0.9em;
	margin-top: 1em;
	/* background-color: rgba(79, 97, 143, 0.3); */
	/* border: 1px solid grey; */
	background-color: white;
	/* box-sizing: border-box; */
	/* display: inline-block; */
	width: 20%;
}

span {
	font-weight: 800;
}

.text {
	margin-top: 5em;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5em;
	padding-top:
	color: #162955;
}
